<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>getJson</title>
    <style type="text/css">
        .msg{background:pink;color:red;}
    </style>
</head>
<body>
<!--
Put Your code here
-->
<div ng-controller="MainCtrl">
nazwa={{nazwa}}
    <button ng-click="klikaj()">klikaj</button>
    <!--<div ng-model="items" class="msg">{{items}}</div>-->
    <!--<div ng-repeat="item in items track by $id(item)">{{item}}</div> OK -->
    <div ng-repeat="item in items">{{item}}</div>


    <!--<div ng-repeat="item in records" class="msg">{{item.id}},{{item.name}}</div>-->
    <!--<div ng-repeat="item in items track by $name">{{item.id}}</div>-->
    <!--<div ng-repeat="value in [4, 4] track by $index">{{value}}</div>-->
</div>

<!--<fieldset><legend>data</legend><div ng-model="records">{{records}}</div></fieldset>-->
<!--<fieldset><legend>arr</legend><div ng-repeat="single in records.$">{{single}}</div></fieldset>-->

<!--
<div>
    rows:<textarea ng-model="rows"></textarea><br>
    columns:<textarea ng-model="columns"></textarea>
</div>-->

<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
</body>
</html>
